<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.three_pillar_cheaptriptravel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJk5u75nJLroZeqEIOtY9uv7J0RSKXB3g" />

        <activity android:name=".ScheduleListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleDisplayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".search.PlaceSearchActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ShortestPath_Map_Activity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.three_pillar_cheaptriptravel.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".search.HotelSearchActivity" />
        <activity
            android:name=".place.PlaceDetailActivity"
            android:theme="@style/PlaceActivityTheme" />
        <activity
            android:name=".Story.DiaryListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Story.DiaryAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".PlaceListActivity" />
        <activity android:name=".Story.DiaryGalleryActivity" />
        <activity android:name=".EventCluster" />
        <activity android:name=".Story.DiaryShowScheduleActivity" />
        <activity android:name=".dialog.EventTimeArrangeDialog" />
        <activity android:name=".dialog.DayToCalculateDialog" />
        <activity android:name=".object.ScheduleSettingActivity" />
        <activity android:name=".TravelActivity"></activity>
    </application>

</manifest>